@{
    ViewData["Title"] = "Email authentication";
}

<h1>@ViewData["Title"].</h1>
<div class="container">
    <p>
        You have completed email authentication.
        Let's <a asp-controller="Account" asp-action="Login">click here to login</a>.
    </p>
</div>
