@{
    ViewData["Title"] = "Account Temporarily Locked";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Your account is temporarily locked, please try again later.
    </p>
</header>
