@{
    ViewData["Title"] = "Notification";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <p>
        Please check your email inbox for instructions on how to verify your account.
    </p>
</div>


